<!DOCTYPE html>
<html>
<head>
    <title>dailyphilosophy</title>
    <!-- Latest compiled and minified CSS -->
    {% block  links %}
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    {#javascript#}
    <script src="js/jquery.min.js"></script>

    {% endblock %}
</head>
<body>
<div class="container">
    <h1><a class="title" href="{{ url('homepage') }}">daily<strong>philosophy</strong></a></h1>
    {% block body %}{% endblock %}
</div>
</body>
</html>
