{% extends "_base.html.twig" %}
{% block links %}

    {{ parent() }}
    <script src="js/discover.js"></script>

{% endblock %}
{% block body %}
    <h2>Discover</h2>
    <img id="loading" src="/pic/ajax-loader.gif">
    <div id="article">
        <h3 id="title"></h3>
        <p id="intro"></p>
        <a id="details" class="btn btn-default" href="">Read Article</a>
        <h4>Jump to a specific section</h4>
        <div id="toc"></div>
    </div>

{% endblock %}
